/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/Makefile
/Makefile.in
/stamp-h1
config.aux/config.guess
config.aux/config.sub
config.aux/depcomp
config.aux/install-sh
config.aux/ltmain.sh
config.aux/missing
config.aux/mkinstalldirs
doc/Doxyfile
doc/Makefile
doc/Makefile.in
doc/html
doc/proposal/auto
doc/proposal/Makefile
doc/proposal/Makefile.in
doc/proposal/simulator3d.bbl
doc/proposal/simulator3d.aux
doc/proposal/simulator3d.blg
doc/proposal/simulator3d.dvi
doc/proposal/simulator3d.log
lib/Makefile
lib/Makefile.in
lib/kerosin/.deps
lib/kerosin/Makefile
lib/kerosin/Makefile.in
lib/oxygen/.deps
lib/oxygen/.libs
lib/oxygen/Makefile
lib/oxygen/Makefile.in
lib/oxygen/liboxygen.la
lib/oxygen/agentaspect/*.lo
lib/oxygen/agentaspect/.deps
lib/oxygen/agentaspect/.dirstamp
lib/oxygen/controlaspect/*.lo
lib/oxygen/controlaspect/.deps
lib/oxygen/controlaspect/.dirstamp
lib/oxygen/physicsserver/*.lo
lib/oxygen/physicsserver/.deps
lib/oxygen/physicsserver/.dirstamp
lib/oxygen/sceneserver/*.lo
lib/oxygen/sceneserver/.deps
lib/oxygen/sceneserver/.dirstamp
lib/salt/.deps
lib/salt/.libs
lib/salt/Makefile.in
lib/salt/Makefile
lib/salt/*.la
lib/salt/*.lo
lib/zeitgeist/.deps
lib/zeitgeist/.libs
lib/zeitgeist/Makefile
lib/zeitgeist/Makefile.in
lib/zeitgeist/*.la
lib/zeitgeist/*.lo
lib/zeitgeist/fileserver/.deps
lib/zeitgeist/fileserver/.dirstamp
lib/zeitgeist/fileserver/.libs
lib/zeitgeist/fileserver/*.la
lib/zeitgeist/fileserver/*.lo
lib/zeitgeist/logserver/.deps
lib/zeitgeist/logserver/.dirstamp
lib/zeitgeist/logserver/.libs
lib/zeitgeist/logserver/*.la
lib/zeitgeist/logserver/*.lo
lib/zeitgeist/scriptserver/.deps
lib/zeitgeist/scriptserver/.dirstamp
lib/zeitgeist/scriptserver/.libs
lib/zeitgeist/scriptserver/*.la
lib/zeitgeist/scriptserver/*.lo
utility/Makefile.in
utility/Makefile
utility/glextgen/Makefile
utility/glextgen/Makefile.in
utility/glextgen/glextgen.rb
