[Desktop Entry]
Encoding=UTF-8
Name=RoboCup Soccer Server 3D
Comment=RoboCup Soccer Simulation Server 3D
Exec=simspark
Icon=rcssserver3d
Terminal=false
Type=Application
Categories=Education;Science;Robotics;

